html, body {
	font: 10pt "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #000;
	background-color: #919191;
}

/* @group general styles */

.container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.newfangled {
	background: url(/images/newfangled.png) no-repeat 0 center;
	padding-left: 24px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.inside {
	padding: 1em;
	float: left;
}

.white {
	background-color: #fff;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* @end */

/* @group structure */

#top {
	background-color: #919191;
	width: 100%;
	float: left;
	clear: both;
	padding-top: 10px;
	padding-bottom: 0;
	border-bottom: 5px solid #cacaca;
}

/* @group options */

#options {
	background-color: #e5e5e5;
	width: 100%;
	float: left;
	clear: both;
}

#options .container {
	padding-top: 5px;
	padding-bottom: 5px;
}



/* @end */

/* @group nav */

#nav {
	float: left;
	width: 100%;
	margin-top: 10px;
}

#nav a {
	float: left;
	margin-right: 15px;
	text-decoration: none;
	color: #000;
	background-color: #cacaca;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
  	-webkit-border-top-left-radius: 5px;
  	-webkit-border-top-right-radius: 5px;
	font-size: 12pt;
	padding: 10px 15px 5px;
}

#nav a:hover {
	color: #00c1ec;
}

#nav a.current {
	background-color: #fff;
	font-weight: bold;
	font-size: 14pt;
	margin-bottom: -10px;
	margin-top: -5px;
	padding-bottom: 15px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
  	-webkit-border-top-left-radius: 10px;
  	-webkit-border-top-right-radius: 10px;
}

#nav .right a {
	margin-right: 0;
	margin-left: 15px;
}

#login-details {
	color: #000;
}



/* @end */

#main {
	width: 100%;
	padding-top: 20pt;
	clear: both;
	float: left;
	background-color: #fff;
	padding-bottom: 20pt;
}

#content {
	width: 75%;
	float: left;
}

#side {
	width: 20%;
	float: right;
	max-width: 160px;
}

#footer {
	padding-top: 1em;
	padding-bottom: 1em;
	float: left;
	width: 100%;
	border-top: 4px solid #a9a9a9;
	color: #000;
}

/* @group flash */

.flash {
	padding: 1em;
}

.notice {
	background-color: #faffcb;
}

.error {
	background-color: #ff0020;
	color: #fff;
}



/* @end */



/* @end */

/* @group list */

.list {
	text-align: left;
	width: 100%;
	margin-bottom: 1em;
	margin-top: 0;
}

.list thead th {
	vertical-align: bottom;
}

.list caption {
	text-align: left;
	padding: 0.6em;
}

.list .code {
	width: 60px;
}

.list .size {
	width: 80px;
}

.list .weight {
	width: 80px;
}


.list .category {
	width: 80px;
}

.list .price {
	width: 80px;
	text-align: right;
}

.list .price_rrp {
	width: 80px;
	text-align: right;
}

.list .brand {
	width: 80px;
}

.list thead th {
	border-bottom: 2px solid #ebebeb;
	padding: .6em;
}

.list tfoot th {
	border-top: 2px solid #ebebeb;
	padding: .6em;
}

.list td {
	border-top: 1px solid #eaeaea;
	vertical-align: top;
	padding: .6em;
}

.list .first {
	padding-left: 0;
}

.list .alt {
}

.list .product-img {
	width: 40px;
	text-align: center;
}

.list .product {
	width: auto;
}

.list .cart {
	width: 20px;
}

.list .total {
	text-align: right;
	padding-right: .6em;
	width: 100px;
}

.list .quantity {
	width: 30px;
	text-align: right;
}

.list .quantity input {
	width: 40px;
	text-align: right;
}

.list a.delete {
	width: 0;
	overflow: hidden;
	float: right;
	margin-right: -25px;
}



/* @end */

/* @group crud */

.crud {
	display: block;
}

.crud a {
	font-weight: normal;
	font-style: normal;
	background-position: 0 center;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

a.new {
	background: url(/images/icons/general/new.png) no-repeat left center;
	padding-left: 20px;
}

a.edit {
	background: url(/images/icons/general/edit.png) no-repeat left center;
	padding-left: 20px;
}

a.delete {
	background: url(/images/icons/general/delete.png) no-repeat left center;
	padding-left: 20px;
}

a.show {
	background: url(/images/icons/general/show.png) no-repeat left center;
	padding-left: 20px;
}

a.www {
	background: url(/images/icons/general/www.png) no-repeat left center;
	padding-left: 20px;
	padding-top: 1em;
	padding-bottom: 1em;
}

a.logout {
	background: url(/images/icons/general/logout.png) no-repeat left center;
	padding-left: 20px;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* @end */

/* @group pagination */

div.pagination {
	display: block;
	clear: both;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	float: left;
}

.pagination a {
	padding: .6em;
}

.pagination .current {
	padding: 10px;
	background-color: #919191;
	color: #fff;
}

.pagination .disabled {
	color: #cacaca;
	padding: .6em;
}



/* @end */

/* @group columns */

.col-2 {
	width: 45%;
	float: left;
	padding-right: 5%;
}

.col-3 {
	float: left;
	padding-right: 5%;
	width: 27%;
}



/* @end */

/* @group cart */

a.add_product_to_cart {
	background: url(/images/icons/general/cart_add.png) no-repeat left center;
	padding-left: 20px;
	width: 0;
	float: right;
	overflow: hidden;
	height: 20px;
}
a.delete {

}


/* @end */

/* @group h1 */

h1 {
	font-size: 14pt;
	margin-bottom: 10px;
}

h2 {
	font-size: 12pt;
	margin-bottom: 10px;
}



/* @end */