/* @override 
	http://shinephoto.local/stylesheets/admin/02-admin.css?1267511171
	http://shinephoto.local/stylesheets/admin/02-admin.css?1268022679
	http://shinephoto.local/stylesheets/admin/02-admin.css?1268022762
	http://shinephoto.local/stylesheets/admin/02-admin.css?1277277374
*/

.container {
	width: 90%;
}

a {
	color: #00a0c2;
	text-decoration: none;

}

a:hover {
	color: #00c1ec;
	text-decoration: none;

}

/* @group top */

a#logout {
	font-weight: bold;
	color: #000;
}

.right {
	float: right;
}

a#site {
	background-image:url(/images/admin/icons/house.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 35px;
}

#nav a.current {
	color: #00a0c2;
}



/* @end */

/* @group options/crud */

.crud a {
	font-weight: normal;
	font-style: normal;
	background-position: 0 center;
	text-decoration: none;
	padding: 5px 10px 5px 20px;

}

.crud a:hover {
}

a.new {
	background: url(/images/admin/icons/new.png) no-repeat left center;
}

a.edit {
	background: url(/images/admin/icons/edit.png) no-repeat left center;
}

a.delete {
	background: url(/images/admin/icons/delete.png) no-repeat left center;
}

a.show {
	background: url(/images/admin/icons/show.png) no-repeat left center;
}

a.email {
	background: url(/images/admin/icons/email.png) no-repeat left center;
}

/* @end */

/* @group flash */

div#flash {
	width: 100%;
	float: left;
	clear: both;
	padding-top: 10px;
	background-color: #fff;
}

div.flash {
	padding: 10px;
	margin-right: 0;
	margin-bottom: 10px;
}

.notice {
	background-color: #faffcb;
	color: #000;
}

.error {
	color: #fff;
	background-color: #ff0012;
}



/* @end */

/* @group drop and drop tree */

/* @group sortable */

.handle {
	background-color: #faffcb;
	width: 0;
	overflow: hidden;
	height: 20px;
	position: absolute;
	margin-left: -20px;
	padding-left: 20px;
	cursor: move;
}



/* @end */



/* @end */

th {
	padding-right: 20px;
}

/* @group list */

.list {
	width: 100%;
}

.list tbody tr td, .list tbody tr th {
	border-bottom: 1px solid #f4f4f4;
}

.list th {
	border-bottom: 2px solid #cacaca;
	padding-bottom: 5px;
	padding-top: 5px;
}

.list .spinner_col {
	width: 30px;
	padding-top: 10px;
}

/* @group brands */

.brand-logo-thumb {
	width: 120px;
}

.brand-name {
	width: 150px;
}



/* @end */



/* @end */

/* @group structure */

/* @group footer */

#footer {
	float: left;
	width: 100%;
	color: #515151;
}

#footer a {
	color: #000;
}

/* @end */



/* @end */

/* @group uploaded images */

img.uploaded {
	border: 3px solid #cacaca;
	margin-right: 3px;
	margin-bottom: 3px;
}

a img.uploaded:hover {
	border: 3px solid #00c1ec;
}

#photos img.uploaded {
	float: left;
}

/* @end */

#overlay {
	background-color: #fff;
	padding: 20px;
	width: 70%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.group {
	float: left;
	padding-right: 20px;
	margin-right: 20px;
	overflow: hidden;
	width: 40%;
}

.group li {
	display: inline;
}

/* @group category */

/*.category {
	margin-bottom: 20px;
	clear: both;
	float: left;
}*/

.title {
	display: block;
	margin-bottom: 10px;
}

.title .description {
	color: #919191;
	font-size: 10pt;
}

.category .set {
	margin-left: 20px;
}

.set {
	clear: both;
	display: block;
	float: left;
	margin-bottom: 10px;
}

.inline {
	display: inline;
}

.base {
	padding-top: 10px;
	padding-bottom: 20px;
}

/* @end */

/* @group heading */

.heading {
	display: block;
	clear: both;
	float: left;
	margin-bottom: 10px;
	width: 100%;
}

.heading h1 {
	float: left;
	margin-right: 10px;
	padding-top: 0;
}

.heading .new {
	float: left;
	margin-left: 10px;
}



/* @end */

.note {
	padding: 10px 10px 10px 20px;
	background: url(../../images/admin/icons/comment.png) no-repeat 0 10px;
}

#sets {
	float: left;
	width: 100%;
}
