/* @override 
	http://shinephoto.local/stylesheets/admin/02-admin.css?1267511171
	http://shinephoto.local/stylesheets/admin/02-admin.css?1268022679
	http://shinephoto.local/stylesheets/admin/02-admin.css?1268022762
*/

.container {
	width: 90%;
}

a {
	color: #00a0c2;
	text-decoration: none;

}

a:hover {
	color: #00c1ec;
	text-decoration: none;

}

/* @group top */

a#logout {
	font-weight: bold;
	color: #000;
}

.right {
	float: right;
}

a#site {
	background-image:url(/images/admin/icons/house.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 35px;
}

#nav a.current {
	color: #00a0c2;
}



/* @end */

/* @group options/crud */

#options {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-color: #f4f4f4;
	display: block;
	float: left;
	clear: both;
	width: 100%;
}

.crud a {
	font-weight: normal;
	font-style: normal;
	background-position: 0 center;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}

.crud a:hover {
}

a.new {
	background: url(/images/admin/icons/new.png) no-repeat left center;
	padding: 5px 10px 5px 20px;
}

a.edit {
	background: url(/images/admin/icons/edit.png) no-repeat left center;
	padding: 5px 10px 5px 20px;
}

a.delete {
	background: url(/images/admin/icons/delete.png) no-repeat left center;
	padding: 5px 10px 5px 20px;
}

a.show {
	background: url(/images/admin/icons/show.png) no-repeat left center;
	padding: 5px 10px 5px 20px;
}

a.www {
	background: url(/images/admin/icons/www.png) no-repeat left center;
	padding-left: 20px;
	padding-top: 1em;
	padding-bottom: 1em;
}

a.zoom {
	background: url(/images/admin/icons/zoom.png) no-repeat left center;
	padding-left: 20px;
	padding-top: 1em;
	padding-bottom: 1em;
}

a.email {
	background: url(/images/admin/icons/email.png) no-repeat left center;
	padding-left: 20px;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* @end */

/* @group flash */

div#flash {
	width: 100%;
	float: left;
	clear: both;
	padding-top: 10px;
	background-color: #fff;
}

div.flash {
	padding: 10px;
	margin-right: 0;
	margin-bottom: 10px;
}

.notice {
	background-color: #faffcb;
	color: #000;
}

.error {
	color: #fff;
	background-color: #ff0012;
}



/* @end */

/* @group drop and drop tree */

/* @group sorting toggle */

a#sorting_toggle {
	font-weight: normal;
	font-style: normal;
	background-position: 0 center;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-right: 10px;
}

a.toggle-off {
	background: url(/images/admin/icons/sitemap.png) no-repeat left center;
	padding: 5px 10px 5px 20px;
}

a.toggle-on {
	background: url(/images/admin/icons/stop.png) no-repeat left center;
	padding: 5px 10px 5px 20px;
}



/* @end */

/* @group #list */

#list {
	padding: 0;
}

#list ul {
	padding: 5px 0 0;
	list-style-type: none;
	list-style-image: none;
	display: block;
	margin: 0;
}

#list li {
	padding-top: 10px;
	list-style-type: none;
	list-style-image: none;
}

#list .closed li {
	display: none;
}

#list li ul {
	padding-top: 5px;
	list-style-type: none;
	list-style-image: none;
	padding-left: 30px;
}

#list li.first {
	height: 0;
}

#list a.edit {
	padding: 10px 10px 10px 0;
}



/* @end */

/* @group sortable */

.sortable li {
	cursor: move;
}

.sortable a.edit {
	display: none;
}

/* Dragging and dropping */

.sortable .drop_hover {
	background: url(/images/admin/icons/drag.png) no-repeat left;
}

.sortable .drop_top {
	background-position: 10px top;
}
.sortable .drop_bottom {
	background-position: 10px bottom;
}
.sortable .drop_insert {
	background-position: 20px 100%;
}



/* @end */



/* @end */

th {
	padding-right: 20px;
}

/* @group list */

.list {
	width: 100%;
}

.list tbody tr td, .list tbody tr th {
	border-bottom: 1px solid #f4f4f4;
}

.list th {
	border-bottom: 2px solid #cacaca;
	padding-bottom: 5px;
	padding-top: 5px;
}

.list .spinner_col {
	width: 30px;
	padding-top: 10px;
}

/* @group brands */

.brand-logo-thumb {
	width: 120px;
}

.brand-name {
	width: 150px;
}



/* @end */



/* @end */

/* @group structure */

/* @group footer */

#footer {
	float: left;
	width: 100%;
	color: #515151;
}

#footer a {
	color: #000;
}

/* @end */



/* @end */

/* @group uploaded images */

img.uploaded {
	border: 3px solid #cacaca;
	margin-right: 3px;
	margin-bottom: 3px;
}

a img.uploaded:hover {
	border: 3px solid #00c1ec;
}

#photos img.uploaded {
	float: left;
}

/* @end */

#overlay {
	background-color: #fff;
	padding: 20px;
	width: 70%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.group {
	float: left;
	padding-right: 20px;
	clear: none;
	margin-right: 20px;
	height: 150px;
	overflow: hidden;
}

/* @group category */

/*.category {
	margin-bottom: 20px;
	clear: both;
	float: left;
}*/

.title {
	display: block;
	margin-bottom: 10px;
}

.title .description {
	color: #919191;
	font-size: 10pt;
}

.category .set {
	margin-left: 20px;
}

.set {
	clear: both;
	display: block;
	float: left;
	margin-bottom: 10px;
}

.inline {
	display: inline;
}

.base {
	padding-top: 10px;
	padding-bottom: 20px;
}

/* @end */

/* @group heading */

.heading {
	display: block;
	clear: both;
	float: left;
	margin-bottom: 10px;
	width: 100%;
}

.heading h1 {
	float: left;
	margin-right: 10px;
	padding-top: 0;
}

.heading .new {
	float: left;
	margin-left: 10px;
}



/* @end */

.note {
	padding: 10px 10px 10px 20px;
	background: url(../../images/admin/icons/comment.png) no-repeat 0 10px;
}

#sets {
	float: left;
	width: 100%;
}
