.DS_Store
_working/*
log/*
tmp/*
*.tmproj
*.pid

# Ignore dev and test databases
db/*.sqlite3

# Ignore capistrano file
Capfile

# Ignore the uploaded documents, cached pages, javascript, and stylesheets
public/uploaded
public/system
public/cache
public/javascripts/all*
public/stylesheets/all*