.DS_Store
_working/*
log/*
tmp/*
*.tmproj
*.pid

# Ignore dev and test databases
db/*.sqlite3

# Ignore the database config
config/database.yml

# Ignore capistrano file
Capfile

# Ignore the deploy file
config/deploy.rb

# Ignore the cached pages, javascript, stylesheets and uploaded content
public/system
public/cache
public/javascripts/cache*
public/stylesheets/cache*
public/uploaded
