# rvm stuff 
# gem sets may be differ between machines
.rvmrc

# Mac stuff
.DS_Store
*.tmproj

# Development and temporary items
_working/*
log/*
tmp/*
*.pid

# Ignore sqlite databases and database config
db/*.sqlite3
config/database.yml

# Ignore capistrano files
Capfile
config/deploy.rb

# Ignore the cached pages, javascript, stylesheets and uploaded content
public/system
public/cache
public/javascripts/cache*
public/stylesheets/cache*
public/uploaded
