
<div id="nav">

	<ul>
	<!-- Only display the following if the user is logged in -->
	<% if logged_in? %>
		<li>
			<%= link_to 'Welcome', admin_path, { 
					:id => "admin_home", 
					:class => admin_current_class('/admin')} %>
					
			<%= link_to 'Photos', admin_categories_path, { 
					:class => admin_current_or_active_class(['admin/categories','admin/photos','admin/sets'])} %>
		</li>
	<% end %>

		<li class="right">

			<% if logged_in? %>
			
			
			<%= link_to 'Users', admin_users_path, { 
				:class => admin_current_or_active_class('admin/users')} %>
				
			<% end %>
			
			<%= link_to 'View Site', root_path, { :id => "site" } %>
		</li>
	</ul>
</div>


