body {
	font: 12pt "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #919191;
}

/* @group top */

header {
	background-color: #515151;
	padding-top: 30px;
	padding-bottom: 10px;
	float: left;
	clear: both;
	width: 100%;
}

header a {
	text-decoration: none;
	color: #fff;
}



/* @end */

h1 {
	font-size: 14pt;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 10px;
}

/* @group links */

a {
	text-decoration: none;
	color: #919191;
}

a:hover {
	text-decoration: none;
	color: #000;
}

a.current {
	color: #000;
	font-weight: bold;
}



/* @end */

.container {
	padding-left: 230px;
	max-width: 1200px;
	min-width: 800px;
}

#main {
	float: left;
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* @group slideshow */

#slideshow {
	width: 800px;
	float: left;
}

#slideshow h4 {
	padding-top: 10px;
	padding-bottom: 10px;
}

#image_wrap {
	background: url(/images/admin/icons/busy-large.gif) no-repeat center center;
	width: 800px;
	height: 500px;
	overflow: hidden;
	border: 3px solid #cacaca;
}

.scrollable {
}

.scrollable img {
	margin-right: 5px;
	margin-bottom: 5px;
	border-width: 1px;
}

.scrollable a img:hover {
	border-color: #ff403c;
}

.scrollable a.active img {
	border-color: #000;
}

img.uploaded {
	border: 3px solid #cacaca;
}



/* @end */

#caption {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* @group nav */

nav {
	width: 180px;
	float: left;
	margin-left: -200px;
	margin-top: -5px;
}

nav a {
	padding: 5px;
	display: block;
	text-align: right;
}



/* @end */

/* @group main */

#main {
	width: 100%;
	clear: both;
}



/* @end */

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	clear: both;
	width: 100%;
	color: #cacaca;
	font: 80% Georgia, "Times New Roman", Times, serif;
}