/* @override 
	http://shinephoto.local/stylesheets/site/shinephoto.css?1264733246
	http://shinephoto.local/stylesheets/site/shinephoto.css?1264998648
	http://shinephoto.local/stylesheets/site/shinephoto.css?1264998791
*/

body {
	font-size: 10pt;
}

/* @group top */

#top {
	background-color: #919191;
	padding-top: 20px;
	padding-bottom: 10px;
	float: left;
	clear: both;
	width: 100%;
}

#top a {
	text-decoration: none;
	color: #fff;
}

#root {
	font-size: 14pt;
}



/* @end */

h1 {
	font-size: 14pt;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 10px;
}

#wrapper {
	padding-bottom: 40px;
	padding-top: 40px;
	width: 100%;
	clear: both;
	float: left;
}

#main {
	width: 70%;
	float: right;
}

#side {
	width: 30%;
	float: left;
}

.container {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	max-width: 1200px;
	min-width: 800px;
}

#footer {
	border-top: 1px dotted #cacaca;
	padding-top: 40px;
	padding-bottom: 40px;
	float: left;
	clear: both;
	width: 100%;
}

img.uploaded {
	border: 1px solid #cacaca;
}

/* @group slideshow */

#slideshow {
	width: 600px;
}

h2.caption {
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 12pt;
}

.scrollable {
	margin-top: 5px;
}

#image_wrap {
	background: url(/images/admin/icons/busy-large.gif) no-repeat center center;
	width: 600px;
	height: 400px;
}

.scrollable img {
	margin-right: 5px;
	margin-bottom: 5px;
	border-width: 1px;
}

.scrollable a.active img {
	border-color: #000;
}



/* @end */