<%= image_tag @photo.file.url(:medium), { :class => "uploaded" } %>

<div class="attributes">
	
	<%= simple_format @photo.category_list.to_sentence %>
	<%= simple_format @photo.set_list.to_sentence %>

	<%= simple_format @photo.tag_list.to_sentence %>

</div>
