<% title "Photos #{pagination_title @photos}" %>



<div id="photos">
<% @photos.each do |photo| %>
<% link_to [:admin, photo], { :rel => "#overlay" } do %>
<%= image_tag photo.url(:thumb), { :class => "uploaded" } %>
<% end %>
<% end %>
</div>



<%= will_paginate @photo_sets %>

<div id="overlay">
	<div class="overlay-content"></div>
</div>





<% content_for :options do %>

	<%= link_to "Create a new photo", new_admin_photo_path, { 
		:class => 'new', 
		:accesskey => 'n',
		:rel => '#overlay' } %>

<% end %>

