<% title @photo %>

<%= render :partial => 'admin/photos/inc/thumb' %>
<%= render :partial => 'admin/photos/inc/crud' %>


<div class="attributes">
	
	<%= link_to @photo.category, admin_category_path(@photo.category) %>
	<%#= simple_format @photo.tag_list.to_sentence %>

</div>


