<% title "Photos #{pagination_title @categories}" %>



<div id="categories">
	
	<ul>
	<% @categories.each do |category| %>

		<li class="group">

			<h2><%= link_to category, admin_category_path(category) %></h2>
		
			<% category.photos.top.each do |photo| %>
			<% link_to edit_admin_photo_path(photo) do %>
					<%= image_tag photo.url(:tiny), { :class => "uploaded" } %>
				<% end %>
			<% end %>
		</li>
		
	<% end %>
	</ul>
	
	
</div>



<%= will_paginate @categories %>

<% content_for :options do %>

	<%= link_to 'Create a new category', new_admin_category_path, { 
		:class => 'new', 
		:accesskey => 'n',
		:rel => '#overlay' } %>
	<%#= render :partial => 'admin/photos/inc/sets' if @category %>


<% end %>



