<% title @photo %>


<%= image_tag @photo.url(:large), { :class => "uploaded" } %>

<div class="attributes">
	
	<%= simple_format @photo.tag_list.to_sentence %>
	<%= simple_format @photo.description %>
</div>
	