<% 
	msg = "#{pluralize @photos.total_entries, "photo"} tagged #{@tag}"
	title  "#{msg} #{pagination_title @photos}" %>

<h1><%= msg %></h1>

<%= render :partial => 'slideshow' %>



<%= will_paginate @photos %>

