<% title "Welcome" %>

<%= render :partial => 'photos/slideshow' %>




<% content_for :side do %>
<h1>My name is Narlea and I take photos</h1>
<p>You can write something so much more interesting than this.</p>
<% end %>




